
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/allure-report
/.allure
/allure-results
/playwright-report
/playwright-report
/playwright-report/trace
/playwright-report/trace
/playwright-report
playwright-report/trace/assets/codeMirrorModule-CyuxU5C-.js
/playwright-report
.DS_Store
